@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  @apply transition-colors duration-500
}

@layer base {
    @font-face {
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../public/fonts/centurygothic.ttf) format('ttf');
    }



    

}

